
a {
	color: #ccc;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 1rem;
	margin-top: 3rem;
}

h1 {
	font-size: 2em;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	font-style: italic;
}

img {
	max-width: 100%;
	max-height: 100vh;
	height: auto;
	object-fit: contain;
}

picture {
	display: contents;
}

ul, ol {
	padding-left: 2ch;
}

table {
	display: block;
	overflow-x: auto;
}

th { text-align: left; }

blockquote {
	padding-left: 1ch;
	padding-right: 1ch;
	margin-left: 0;
	margin-right: 0;
	border-left: 3px double var(--primary);
}

details {
	padding: 1em;
	border: 1px solid #ccc;
}

details:not([open]) {
	background: #444;
}
