code, pre, kbd, samp, xmp {
    font-family: var(--font-monospace);
    hyphens: none;
}
  
a {
    color: currentColor;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 #ff0;
}
  
h1, h2, h3, h4 {
    font-weight: bold;
    font-size: 1rem;
}
  
h1 {
    font-size: 2em;
    line-height: calc(2 * var(--line-height));
}
  
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
h3 {
    font-style: italic;
}
  
pre {
    white-space: pre-wrap;
    font-size: inherit;
    line-height: inherit;
}

img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    object-fit: contain;
}
  
ul, ol {
    padding-left: 2ch;
}
  
table {
    display: block;
    overflow-x: auto;
}
  
th { text-align: left; }
  
blockquote {
    padding-left: 1ch;
    padding-right: 1ch;
    margin-left: 0;
    margin-right: 0;
    border-left: 3px double var(--primary);
}
  
hr {
    border: none;
}
  
hr::after {
    content: '\2767';
    text-align: center;
    display: block;
    font-size: 1.8em;
}
