
.h-entry header {
    margin-top: 3em;
}

.h-entry h1 {
    display: inline;
    margin-right: .4ch;
}

.h-entry .p-name {
    font-weight: bold;
}

.h-entry .u-url {
    text-decoration: none;
}

.metadata {
    font-size: .8em;
    text-transform: uppercase;
}

.tags-list, .p-category, .p-category+sup, .syndication-links, .u-syndication {
    font-style: italic;
}

.entry-list .h-entry {
    margin: calc(2 * var(--line-height)) 0;
}

.read-next {
    border: 1px solid var(--copy);
    padding: var(--line-height);
    padding-bottom: 0;
    margin: var(--line-height) 0;
    cursor: pointer;
}

.read-next .label {
    float:left;margin-right:.5ch
}
