
.h-entry header {
	margin-top: 3em;
}

.h-entry h1 {
	display: inline;
	margin-right: .4ch;
}

.h-entry .p-name {
	font-weight: bold;
}

.h-entry .u-url {
	text-decoration: none;
}

.metadata {
	font-variant: all-small-caps;
}

/* :is() polyfill! */
:not(:not(
	.tags-list,
	.p-category,
	.p-category+sup,
	.syndication-links,
	.u-syndication
)):not(:hover) {
	text-decoration: none;
}

.entry-list .h-entry {
	margin: 2em 0;
}

.read-next {
	border: 1px solid var(--copy);
	padding: 0 1em;
	margin: 1em 0;
	cursor: pointer;
}
