
html {
	--copy: ghostwhite;
	--bg: #1e1e1e;
	--primary: #ff6600;
	--secondary: #0587bb;
	--accent: var(--primary);
	--font-copy: "IBM Plex Sans Condensed", "Arial Narrow", "Roboto Condensed", "Helvetica Condensed", sans-serif;
	--font-monospace: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background-color: var(--bg);
	color: var(--copy);
	font-family: var(--font-copy);
	font-size: 120%;
	line-height: 1.8;
	tab-size: 2;
	hyphens: auto;
}

* {
	box-sizing: border-box;
}

main, .site-footer {
	max-width: 700px;
	margin-left: 4vw; 
}

.site-header {
	max-width: 100%;
	margin-left: 4vw;
}

.site-header {
	margin-top: 1em;
}

.site-footer {
	margin-top: 2em;
	font-size: .8rem;
	line-height: inherit;
}

.img-inline {
	height: 1em;
	width: auto;
	vertical-align: bottom;
}

.image-link {
	display: block;
}

.unblockquote {
	border: none;
	padding: 0;
}
