
html {
  --bg: ghostwhite;
  --copy: #2d1e14;
  --primary: #ff6600;
  --secondary: #0587bb;
  --accent: var(--primary);
  --line-height: 28px;
  --font-copy: "IBM Plex Sans Condensed", "Arial Narrow", "Roboto Condensed", "Helvetica Condensed", sans-serif;
  --font-monospace: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier,
  monospace;
  background-color: var(--bg);
  color: var(--copy);
  font-family: var(--font-copy);
  font-size: 120%;
  tab-size: 2;
  hyphens: auto;
  overflow-y: scroll;
}

* {
  line-height: var(--line-height);
  box-sizing: border-box;
}

body {
  position: relative;
}

main, .site-header, .site-footer {
  padding-left: 4vw;
}

main > * {
  max-width: 700px;
}

.site-footer {
  margin-top: calc(2 * var(--line-height));
  font-size: .8rem;
  line-height: inherit;
}

.img-inline {
  height: 1em;
  width: auto;
  vertical-align: bottom;
}

.image-link {
  display: block;
}

.unblockquote {
  border: none;
  padding: 0;
}

