
body {
	overflow-y: scroll;
}

.e-content > * + *, .prose > * + *, blockquote > * + * {
  margin-top: var(--flow-space, 1em);
}

a {
	color: var(--copy);
}

p,
li {
  max-width: 60ch;
}

blockquote {
	padding: 0 0 .2em 1em;
	border-left: 1px solid var(--secondary);
	border-radius: 1em;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 1rem;
	margin-top: 1.5rem;
	margin-left: calc(var(--page-padding) / -2);
}

h1 {
	font-size: 2em;
	margin-left: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

h3 {
	font-style: italic;
}

img {
	display: block;
	max-width: 100%;
	max-height: 45vh;
	width: auto;
	height: auto;
	object-fit: contain;
	object-position: top left;
}

table {
	display: block;
	overflow-x: auto;
}

th { text-align: left; }

details:not([open]) {
	background: #88888888;
}

mark {
	color: var(--copy);
	background: var(--highlight);
}

time {
	font-variant-numeric: tabular-nums;
}

figcaption {
	font-style: italic;
	font-size: .8em;
	opacity: .8;
}

@media print {
	body {
		max-width: unset;
		padding: 0;
		margin: 0
	}

	@page {
		margin: 3em
	}

	img, pre, figure, table {
		page-break-inside: avoid
	}

}

:target {
	background: var(--highlight);
}
