
html {
	--bg: ghostwhite;
	--copy: #1e1e1e;
	--primary: #ff6600;
	--secondary: #005c82;
	--highlight: #ff0;
	--font-copy: "Atkinson Hyperlegible", sans-serif;
	--font-monospace: "Cascadia Code", Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background-color: var(--bg);
	color: var(--copy);
	font-family: var(--font-copy);
}

@media (prefers-color-scheme: dark) {
	html {
		--copy: ghostwhite;
		--bg: #1e1e1e;
		--primary: #005c82;
		--secondary: #ff6600;
		--highlight: #660;
	}
}

* {
	box-sizing: border-box;
}

main, .site-footer {
	max-width: 700px;
	margin: auto; 
}

.site-footer {
	margin-top: 2em;
	font-size: .8rem;
	line-height: inherit;
}

.img-inline {
	height: 1em;
	width: auto;
	vertical-align: bottom;
}

.image-link {
	display: block;
}

.thumbnail {
	float: right;
	margin: auto;
	max-height: 4em;
	width: auto;
}

.unblockquote {
	border: none;
	padding: 0;
}

.smallcaps {
	font-variant-caps: small-caps;
}
