
html {
	--bg: ghostwhite;
	--copy: #1e1e1e;
	--primary: #E13200;
	--secondary: #006AFF;
	--highlight: #ff0;
	--font-copy: Arimo, Arial, sans-serif;
	--font-monospace: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background-color: var(--bg);
	color: var(--copy);
	font-family: var(--font-copy);

	scrollbar-color: var(--primary) var(--bg);
}

@media (prefers-color-scheme: dark) {
	html {
		--copy: ghostwhite;
		--bg: #1e1e1e;
		--highlight: #660;
	}
}

body {
	--page-padding: 2rem;
	padding: var(--page-padding);
}

.read-more-link {
	white-space: pre;
	font-style: italic;
}

.entry-detail {
	max-width: none;
	padding-bottom: .5em;
}

.entry-header {
	margin-bottom: 2em;
}

.decor {
	color: var(--primary);
	font-weight: bold;
}

.site-footer {
	margin-top: 2em;
	font-size: .8rem;
	line-height: inherit;
}

.img-inline {
	display: inline;
	height: 1em;
	width: auto;
	vertical-align: bottom;
}

.unblockquote {
	border: none;
	padding: 0;
}
