---js
(() => {
	const { DateTime } = require('luxon')
	return {
		layout: "layout/base.njk",
		eleventyComputed: {
			permalink: ({page, title, deleted}) => {
				if (deleted) return false
				const dt = DateTime.fromJSDate(page.date)
				const year = dt.year
				if (title) return `/${year}/${page.fileSlug}/`
				else return `/${year}/${dt.toFormat('MMddHHmmss')}/`
			},
			tagline: (d) => 'title' in d ? d.title :
				d.replyTo ? "Re. " + (d.replyTo.name || d.replyTo) :
				d.repostOf ? "Repost: " + (d.repostOf.name || d.repostOf) :
				d.likeOf ? "Like: " + (d.likeOf.name || d.likeOf) : undefined,
		}
	}
})()
---

<article class=h-entry>
	<header class=entry-header>
		
		{% if uPhoto %}
			<link class=u-photo href="{{ uPhoto }}">
		{% endif %}

		{% include "entry-detail.njk" %}

		{% if title %}
			<h1 class="p-name">{{ title }}</h1>
		{% endif %}

		{% if english %}
			<p><a rel=alternate href="{{ english }}" hreflang=en>English</a>
			</p>
		{% endif %}

		{% if türkçe %}
			<p><a rel=alternate href="{{ türkçe }}" hreflang=tr>Türkçe</a></p>
		{% endif %}

		{% if syndication %}
			<p class="entry-detail">also on {% for key, val in syndication -%}
				{{ (' and ' if loop.last else (',' if not loop.first)) if loop.length > 1 }}
				<a class="u-syndication" href="{{ val }}">{{ key }}</a>
			{% endfor %}</p>
		{% endif %}

	</header>

	{% if replyTo and replyTo.context %}
		<div class=replycontext>
			<p>↪ Reply to <cite><a class=u-reply-to href="{{ replyTo.url }}"
				>{{ replyTo.name | d(replyTo.url) }}</a></cite>:</p>
			<blockquote>{{ replyTo.context | markdown | safe }}</blockquote>
		</div>
	{% endif %}

	{% if content.trim() !== '' %}
		<div class="e-content prose">{{ content | safe }}</div>
	{% endif %}

	{% include "webmentions.njk" %}

</article>

<ul role=list class="links">
	<li><a href="/"><strong>Deniz Akşimşek</strong></a>
    {% for entry in (collections.longform | reverse).slice(0, 3) %}
        <li><a href="{{ entry.url }}">{{ entry.data.title }}
            <time>{{ entry.date | isodate }}</time></a>
    {% endfor %}
	<li><a href="/archive">all posts</a>
</ul></nav>

