
{%set mentions = webmentions[entry.url|d(page.url)]%}

{%if mentions and mentions.length > 0%}
<details id=webmentions class="web-mentions">
	<summary class="heading">Webmentions ({{mentions.length}})</summary>

	<ul class="mentionlist">
		{%for mention in mentions%}
		{%set type = mention['wm-property']%}
		<li class="web-mention -{{type}}">

			{%if type == 'mention-of'%}
			
			<span class=metadata>
				<img src="{{mention.author.photo}}" class=avatar>
				<a href="{{mention.author.url}}">{{mention.author.name}}</a> mentioned this: 
				<a href="{{mention.url}}">{{mention.url}}</a>
			</span>

			{%elif type == 'like-of'%}
			
			<img src="{{mention.author.photo}}" class=avatar>
	        &#x2764;&#xFE0F; &mdash; <a href="{{mention.author.url}}">{{mention.author.name}}</a>
			<!-- ^^^ heart emoji -->

			{%elif type == 'in-reply-to'%}
			
			<blockquote class=body>
	            {{mention.content.text}}
		        <footer class=metadata>
		          <img src="{{mention.author.photo}}" class=avatar> 
		          <a href="{{mention.author.url}}">
		            <cite class=authorname>{{mention.author.name}}</cite></a>,
		          <a href="{{mention.url}}"><time datetime="${mention.published}">{{
		            mention.published|moment('DD MMMM YYYY hh.mm')
		          }}</time></a>,
		          in reply to <a href="{{mention['in-reply-to']}}">this</a>
		        </footer>
	        </blockquote>
			{%endif%}
		</li>
		{%endfor%}
	</ul>
</details>
{%endif%}
