---
title: Archive - Deniz Akşimşek
permalink: /archive/
layout: page
eleventyExcludeFromCollections: true
---

<h1><a href="/">Deniz Akşimşek</a></h1>

<div class="entry-list">
{%- for entry in collections.entries | reverse %}
	{%if entry.data.lang and entry.data.lang == lang %}
	{% set e = entry %}
	{% set d = e.data %}
	<article class="h-entry">
		{% if d.title %}
			{% include "entry-detail.njk" %}
			<a href="{{ e.url }}" class="p-name">{{ d.title }}</a>
			{% if d.uPhoto %}
				<img class="u-photo thumbnail"
					src="{{ d.uPhoto.src | d(d.uPhoto) }}"
					alt="{{ d.uPhoto.alt }}"
					data-img-color-scheme="{{ d.uPhoto.colorscheme }}">
			{% endif %}
			{% if d.summary %}
				<p>
					<span class="p-summary">{{ e.data.summary | markdown | safe }}</span>
				</p>
			{% endif %}
		{% else %}
			{% include "entry-detail.njk" %}
			{% if d.summary %}
				<p>
					<span class="p-summary">{{ e.data.summary | markdown | safe }}</span>
				</p>
			{% elif (e.templateContent | trim) !== '' %}
				<div class="e-content">
					{{ e.templateContent | safe }}
				</div>
			{% endif %}
		{% endif %}
	</article>
	{%- endif %}
{%- endfor %}
</div>

