---
title: 'Deniz Akşimşek'
layout: page
permalink: 'index.html'
eleventyExcludeFromCollections: true
---

<style>
    .me-elsewhere {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.6em;
        margin-right: -0.6em;
    }
    .me-elsewhere > * {
        margin: 0 .6em;
    }
    .me-elsewhere dt, dd { display: inline; margin: 0; }
    .me-elsewhere dt {
        font-weight: bold;
        opacity: 0.6;
    }
    
    .entry-list { list-style: none; padding: 0 }
    .entry-list li { margin: 1em 0 }
    .entry-list .h-entry {
        border-bottom: .1em solid var(--primary);
        margin-block: 1em;
    }
    
    .h-entry h1 {
        font-size: 1.2em;
        margin: 1rem 0;
    }
</style>



<section class="p-author h-card">
    
    <img
        class=u-photo
        src=/assets/me-full.jpeg
        alt="Deniz Akşimşek"
        style="
            max-height: 44vh;
            object-fit: cover;
            object-position: top;
            border-radius: .5em;">

    <h1><a href=https://denizaksimsek.com/
        rel=me class="p-name u-url u-uid"
        >Deniz Akşimşek</a></h1>

    <dl class=me-elsewhere>
        <div>
            <dt>Email
            <dd><a href=mailto:deniz@denizaksimsek.com rel=me 
                class=u-email>deniz@denizaksimsek.com</a>
        </div>
        <div>
            <dt>Twitter
            <dd><a href=//twitter.com/DenizAksimsek/ rel=me>@DenizAksimsek</a>
        </div>
        <div>
            <dt>GitHub
            <dd><a href=//github.com/dz4k/ rel=me>dz4k</a>
        </div>
        <div>
            <dt>DEV
            <dd><a href=//dev.to/dz4k rel=me>dz4k</a>
        </div>
    </dl>

    <p class=p-note>I am <strong>Deniz</strong>, a person. I'm into web development, programming languages and design. I made <a href="//ankarametro.dz4k.com">ankarametro.dz4k.com</a>. I'm currently studying Computer Engineering at <a href=//www.tedu.edu.tr><abbr>TEDU</abbr></a> in Ankara, Turkey.

</section>

<section id="blog" class="h-feed">
<h2 class="p-name">Blog</h2>
<link href="https://denizaksimsek.com/#blog" class="u-url u-uid">
{% include "partials/posts-list.njk" %}
</section>
