---
title: 'Deniz Akşimşek'
layout: page
permalink: 'index.html'
eleventyExcludeFromCollections: true
---

<style>
	.me {
		text-align: center;
	}

	.me-elsewhere {
		display: flex;
		gap: 0 1ch;
		flex-flow: row wrap;
		justify-content: center;
	}

	.me-elsewhere dt, dd {
		display: inline;
	}

	.me-elsewhere dt {
		color: var(--grayed);
		font-weight: bold;
	}

	.me .u-photo {
		margin: var(--line-height) auto;
		height: 6em;
		width: 6em;
	}

	.me h1 {
		font-size: 2em;
		line-height: 2em;
	}

	.me .p-name {
		text-decoration: none;
	}
</style>

<section class="p-author h-card me">
    <h1><a href=https://denizaksimsek.com/
        rel=me class="p-name u-url u-uid" lang="tr"
        >Deniz Akşimşek</a></h1>

    <dl class=me-elsewhere>
        <div>
            <dt> Email <dd><a href=mailto:deniz@denizaksimsek.com rel=me 
                class=u-email>deniz@denizaksimsek.com</a>
        </div>
        <div>
            <dt> Twitter <dd><a href=//twitter.com/DenizAksimsek/ rel=me
            	>DenizAksimsek</a>
        </div>
        <div>
            <dt> GitHub <dd><a href=//github.com/dz4k/ rel=me>dz4k</a>
        </div>
        <div>
            <dt> DEV <dd><a href=//dev.to/dz4k rel=me>dz4k</a>
        </div>
    </dl>

    <p class=p-note>I am <strong lang="tr">Deniz</strong>, a person. I'm into web development, programming languages and design. I made <a href="//ankarametro.dz4k.com">ankarametro.dz4k.com</a>. I'm currently studying Computer Engineering at <a href=//www.tedu.edu.tr><abbr>TEDU</abbr></a> in <span lang="tr">Ankara</span>, Turkey.

    <img class=u-photo src=/assets/me.jpeg alt="Me @ Atakule, Ankara, Turkey">
</section>

<section id="blog" class="h-feed">
	<link href="https://denizaksimsek.com/#blog" class="u-url u-uid">
	{% include "entry-list.njk" %}
</section>
