---
title: 'Deniz Akşimşek'
layout: page
permalink: 'index.html'
eleventyExcludeFromCollections: true
---

<style>
	.h-card > * + * {
		margin-top: 1em;
	}

	.h-card h1 {
		line-height: 1;
		margin-top: 0;
	}

	.h-card .u-photo {
		max-height: 44vh;
		object-position: top;
		border-radius: .5em; 
		width: auto;
	}

    .me-elsewhere {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.6em;
        margin-right: -0.6em;
    }
    .me-elsewhere > * {
        margin: 0 .6em;
    }
    .me-elsewhere dt, dd { display: inline; margin: 0; }
    .me-elsewhere dt {
        font-weight: bold;
        opacity: 0.6;
    }

    .entry-list .h-entry {
        margin: 3em 0;
    }

    .p-name {
        font-weight: bold;
    }

    .thumbnail {
        max-height: 3em;
        float: left;
        margin-right: 1em;
        margin-top: .3em;
    }
</style>



<section class="p-author h-card">    
    <h1><a href=https://denizaksimsek.com/
        rel=me class="p-name u-url u-uid"
        >Deniz Akşimşek</a></h1>

    <dl class=me-elsewhere>
        <div>
            <dt>Email
            <dd><a href=mailto:deniz@denizaksimsek.com rel=me 
                class=u-email>deniz@denizaksimsek.com</a>
        </div>
        <div>
            <dt>Twitter
            <dd><a href=//twitter.com/DenizAksimsek/ rel=me>@DenizAksimsek</a>
        </div>
        <div>
            <dt>Mastodon
            <dd><a href=https://mastodon.dz4k.com/web/accounts/1 rel=me>@dz4k@mastodon.dz4k.com</a>
        </div>
        <div>
            <dt>GitHub
            <dd><a href=//github.com/dz4k/ rel=me>dz4k</a>
        </div>
        <div>
            <dt>DEV
            <dd><a href=//dev.to/dz4k rel=me>dz4k</a>
        </div>
    </dl>
    <img class=u-photo src=/assets/me-full.jpeg 
    	alt="Me @ Atakule, Ankara, Turkey">

    <p class=p-note>I am <strong>Deniz</strong>, a person. I'm into web development, programming languages and design. I made <a href="//ankarametro.dz4k.com">ankarametro.dz4k.com</a>. I'm currently studying Computer Engineering at <a href=//www.tedu.edu.tr><abbr>TEDU</abbr></a> in Ankara, Turkey.
</section>

<section id="blog" class="h-feed">
	<link href="https://denizaksimsek.com/#blog" class="u-url u-uid">
	{% include "entry-list.njk" %}
</section>
