---
permalink: '_redirects'
eleventyExcludeFromCollections: true
---

/20200902T1254/	/2020/css-additional-box-shadow/
/20200827T2005/	/2020/ardesen-rize-tr/
/20200826T1523/	/2020/road-to-indieweb/
/latest/	{{ (collections.posts | last).url }}

{% for post in collections.deleted %}
{{ post.url }} /deleted/ 410
{% endfor %}


