---
layout: layout.njk
---

<article class="h-entry">

<header>
<a class="u-url" href="{{page.url|url}}">
  <time class="dt-published">{{page.date|moment('DD/MM/YYYY')}}</time>
</a>
{%if uPhoto%}<link class="u-photo" href="{{uPhoto}}">{%endif%}
<h1 class="p-name">{{title}}</h1>
</header>

<div class="e-content">{{content|safe}}</div>

<section class="tags">
{%set tags = tags%}
{%include "partials/tags.njk"%}
</section>

{%if devToSyndication[page.url] !== undefined%}
<section class="syndication-links">
This article is syndicated to <a class="u-syndication" 
    href="{{devToSyndication[page.url]}}">DEV</a>, where you can comment on it.
</section>
{%endif%}

<section class="comments-section">
<h2>Comments</h2>
<form netlify name="Comments" netlify-honeypot="robotuz-eyvallah"
	action="/did-comment" method="POST">

	<input name="path" type="hidden" value="{{page.url}}">
	<input name="robotuz-eyvallah" type="hidden">

	<label for="contents">Your comment / <span lang="tr">Yorumunuz</span></label>
	<div>
		<textarea name="contents" required class="commentinput"></textarea>
	</div>

	<input type="submit" value="Submit">
</form>
<small>
	<p>
	Sign your comment however you want.
	<p lang="tr">
	Yorumunuzu istediğiniz gibi imzalayın.
</small>

<hr>
<ol class="commentlist">
{%for comment in comments[page.url]%}
<li>
	<p class='metadata'>
		<time datetime="{{comment.date|moment('YYYYMMDDTHHmmssZZ')}}">
			{{comment.date|moment('DD/MM/YYYY HH.mm')}}
		</time>
	</p>

	<blockquote>{{comment.contents|basicFormatting}}</blockquote>
{%endfor%}
</ol>
</section>

</article>
