---
layout: 'layout'
eleventyComputed:
	syndicationLinks: (data) ->
		DEV: data.devToSyndication[data.page.url]
---

<article class="h-entry">

{%if uPhoto%}<link class="u-photo" href="{{uPhoto}}">{%endif%}

<header>
<h1 class="p-name">{{title}}</h1>
<a class="u-url" href="{{page.url|url}}">
  <time class="dt-published">{{page.date|moment('DD/MM/YYYY')}}</time>
</a>
</header>

{%if english%}
<p><a href="{{english|url}}" lang="en">English</a>
{%endif%}
{%if türkçe%}
<p><a href="{{türkçe|url}}" lang="tr">Türkçe</a>
{%endif%}

<div class="e-content">
{{content|safe}}
</div>

<section class="tags">
{%set tags = tags%}
{%include "partials/tags.njk"%}
</section>

<div class="read-next" onclick="
	event.target.closest('.read-next a') == null && this.querySelector('.u-url').click()">
	<span class="postlabel">Read next: </span>
	{%set entry = collections.all | getPreviousCollectionItem(page)
		| d(collections.all[collections.all.length-1])%}
	{%include "partials/entry.njk"%}
</div>

{%if syndicationLinks.length > 0%}
	<section class="syndication-links">
	{%for silo, link in syndicationLinks%}
		<a class="u-syndication" href="{{link}}">{{silo}}</a>
		{%if not loop.last%} | {%endif%}
	{%endfor%}
	</section>
{%endif%}

<section class="comments-section">
<h2>{{'Yorumlar' if lang=='tr' else 'Comments'}}</h2>
<form netlify name="Comments" netlify-honeypot="robotuz-eyvallah"
	action="/did-comment" method="POST" class="comments-form">

	<input name="path" type="hidden" value="{{page.url}}">
	<input name="robotuz-eyvallah" type="hidden">
	<input name="reply" type="hidden">
	
	<label for="contents">
		{{'Yorum yaz' if lang=='tr' else 'Post a comment'}}
	</label>
	<textarea name="contents" required cols="4" class="commentinput"></textarea>
	<input type="submit" class="submit" 
		value="{{'Gönder' if lang=='tr' else 'Submit'}}">
</form>

<small>
{%if lang=='tr'%}
Yorumunuzu istediğiniz gibi imzalayın.
{%else%}
Sign your comment however you want.
{%endif%}
</small>

<hr>

{%macro rendercomment(comment)%}
<li>
	<blockquote class="unblockquote">
		{{comment.contents|basicFormatting|safe}}
	</blockquote>

	<p class="metadata">
		<time datetime="{{comment.date|moment('YYYYMMDDTHHmmssZZ')}}">
			{{comment.date|moment('DD/MM/YYYY HH.mm')}}
		</time>
	</p>

	{%if comment.replies and comment.replies.length > 0%}
	<ol class="commentslist">
		{%for reply in comment.replies
			|selectattr('reply', 'sameas', comment.date)%}
			{{rendercomment(reply)}}
		{%endfor%}
	</ol>
	{%endif%}

	<details>
		<summary class="metadata">
			{{'Yanıtla...' if lang=='tr' else 'Reply...'}}
		</summary>
		<form netlify name="Comments" netlify-honeypot="robotuz-eyvallah"
			action="/did-comment" method="POST" class="comments-form">

			<input name="path" type="hidden" value="{{page.url}}">
			<input name="robotuz-eyvallah" type="hidden">
			<input name="reply" type="hidden" 
				value="{{comment.date|moment('YYYY-MM-DDTHH:mm:ss.SSS[Z]', 'Z')}}">
			
			<label for="contents">
				{{'Cevap yaz' if lang=='tr' else 'Post a reply'}}
			</label>
			<textarea name="contents" required cols="4" class="commentinput">
			</textarea>
			<input type="submit" class="submit" value="Submit">
		</form>
	</details>
{%endmacro%}

{%if comments[page.url]%}
<ol reversed class="commentslist">
{%for comment in comments[page.url]|rejectattr('reply')%}
{{rendercomment(comment)}}
{%endfor%}
</ol>
{%endif%}
</section>

</article>
