---
layout: 'base'
---

<header>
  <strong><a class="h-card" href="/">Deniz Akşimşek</a></strong>
</header>

<main>{{content|safe}}</main>

<footer>
{%if lang == 'tr'%}

  <p>
  Bu sitedeki tüm tarih/saatler UTC+03 zaman dilimindedir (aksi belirtilmediğinde)
  <p>
  Bu site <a href="//11ty.dev">Eleventy</a> ve <a href="//netlify.com">Netlify</a> ile yapılmıştır.

{%else%}

  <p>
  All dates/times on this page are UTC+03 unless otherwise specified.
  <p>
  This website is made with <a href="//11ty.dev">Eleventy</a> and hosted on <a href="//netlify.com">Netlify</a>.
  
{%endif%}

  <p>
  &copy; 2020 <a class="h-card" href="/">Deniz Akşimşek</a>
</footer>

