
{% set e = entry %}
{% set d = e.data %}

<span class=h-entry>
	<time class=dt-published datetime="{{ e.date | isodatetime }}"
		>{{ e.date | datefmt('yyyy/MM/dd HH:mm') }}</time>
	{{ '🔁'		if d.repostOf }}
	{{ '↪'		if d.replyTo }}
	{{ '❤️'		if d.likeOf }}
	{{ '📷'		if d.uPhoto }}
	<a class="u-url u-uid{{ ' p-name' if d.title }}" href="https://denizaksimsek.com{{ e.url }}">{{ d.tagline | d(e.templateContent | striptags | truncate(72) | safe) }}</a>
</span>
