
{{set
	prev=(getPreviousCollectionItem this.collections.posts this.page)
	next=(getNextCollectionItem     this.collections.posts this.page)}}

{{#exec}}
this.posts = collections.posts.filter(p => p !== prev && p !== next && p.url !== page.url)
{{/exec}}

{{#*inline "post"}}
	<time class="dt-published">{{isodate date}}</time> &mdash;
	<a href="{{./url}}">{{data.title}}</a>
{{/ inline}}

<ul role=list class="entry-list -flow-space" style="--dim-flow-space: .5em">
	{{#prev}}<li class="h-entry">{{>post}} [&larr;]{{/prev}}
	{{#next}}<li class="h-entry">{{>post}} [&rarr;]{{/next}}
	{{#each (limit 3 (reverse posts))}}
		<li class="h-entry">{{>post}}
	{{/each}}
</ul>

