
<ol class="entry-list" reversed>
{%- for entry in collections.entries | reverse %}
	{% set e = entry %}
	{% set d = e.data %}
	<li>
		<article class="h-entry">
			{% set hideReplyContext = true %}
			{% if d.title %}
				{% if d.uPhoto %}
					<img class="u-photo thumbnail"
						src="{{ d.uPhoto.src | d(d.uPhoto) }}"
						alt="{{ d.uPhoto.alt }}">
				{% endif %}
				{% include "entry-detail.njk" %}
				<a href="{{ e.url }}"><h1 class="p-name">{{ d.title }}</h1></a>
			{% else %}
				{% include "entry-detail.njk" %}
				<div class="e-content">
					{{ e.templateContent | safe }}
				</div>
			{% endif %}
		</article>
{%- endfor %}
</ol>
