	<p class="entry-detail">

		<span class="decor">[</span>&nbsp;
		{%- if isEntryPage -%}
			<a class="p-author h-card" href="/">Deniz Akşimşek</a> |
		{%- else -%}
			<span hidden class="p-author h-card">
				<a class="u-url p-name"
					href="https://denizaksimsek.com">Deniz Akşimşek</a>
				<a class="u-photo" href="/assets/me.jpeg"></a>
			</span>
			{%- set foo='just removing whitespace' -%}
		{% endif -%}
	
		<a href="{{ e.url }}" class="u-url">
			<time class="dt-published" datetime="{{ e.date | isodatetime }}"
				>{{ e.date | datefmt('yyyy/MM/dd hh:mm') }}</time></a>

		{%- if d.likeOf %}
			| Like ❤️
				<a class=u-like-of 
					href="{{ d.likeOf.url | d(likeOf) }}"
					>{{ d.likeOf.name | d(d.likeOf.url | truncateUrl) }}</a>
		{%- endif -%}

		{%- if d.repostOf %}
			| Repost 🔁
				<a class=u-repost-of 
					href="{{ d.repostOf.url | d(d.repostOf) }}"
					>{{ d.repostOf.name | d(d.repostOf | truncateUrl) }}</a>
		{%- endif -%}

		{%- if d.bookmarkOf %}
			| Bookmark 🔖
				<a class=u-bookmark-of 
					href="{{ d.bookmarkOf.url | d(d.bookmarkOf) }}"
					>{{ d.bookmarkOf.name | d(d.bookmarkOf | truncateUrl) }}</a>
		{%- endif -%}

		{%- if d.replyTo and (hideReplyContext or not d.replyTo.context) %}
			| Re. ↪
				<a class=u-reply-to 
					href="{{ d.replyTo.url | d(d.replyTo) }}"
					>{{ d.replyTo.name 
						| d(d.replyTo.url | d(d.replyTo) | truncateUrl) }}</a>
		{%- endif -%}
		&nbsp;<span class="decor">]</span>

	</p>
