
<div class="entry-list">
{%- for entry in collections.entries | reverse %}
	{% set e = entry %}
	{% set d = e.data %}
	<article class="h-entry">
		{% set hideReplyContext = true %}
		{% if d.title %}
			{% if d.uPhoto %}
				<img class="u-photo thumbnail"
					src="{{ d.uPhoto.src | d(d.uPhoto) }}"
					alt="{{ d.uPhoto.alt }}">
			{% endif %}																
			{% include "entry-detail.njk" %}
			<a href="{{ e.url }}" class="p-name">{{ d.title }}</a>
		{% else %}
			{% include "entry-detail.njk" %}
			{% if e.data.summary %}
				<p>
					<span class="p-summary">{{ e.data.summary | safe }}</span>
					<a class="read-more-link"
						href="{{ e.url }}">Read more&hellip;</a>
				</p>
			{% elif (e.templateContent | trim) !== '' %}
				<div class="e-content">
					{{ e.templateContent | safe }}
				</div>
			{% endif %}
		{% endif %}
	</article>
{%- endfor %}
</div>
