
body {
	overflow-y: scroll;
}

.flowspace          > * + *,
.prose              > * + *,
.prose blockquote   > * + *,
.prose figcaption   > * + *,
.prose details      > * + *,
.prose section      > * + * {
  margin-top: var(--flow-space);
}

a {
	color: var(--copy);
	background: var(--bg2);
	text-decoration: none;
	border-bottom: 1px solid var(--grayed);
}

a:hover {
	background: var(--grayed);
	color: var(--bg);
}

blockquote {
	padding: 0 1ex;
	border-left: 3px double var(--grayed);
	background: var(--bg2);
}

h1, h2, h3, h4 {
}

h1 {
	font-size: 2em;
	line-height: 3ex;
}

h2 {
	font-size: 1em;
	border-bottom: 1px solid var(--grayed);
}

h3 {
	font-size: 1em;
}

hr {
	border: .5px solid var(--grayed);
}

img {
	display: block;
	max-width: 100%;
	max-height: 80vh;
	width: auto;
	height: auto;
	object-fit: contain;
	object-position: top left;
	border: 1px solid var(--copy);
}

table {
	display: block;
	overflow-x: auto;
	border-collapse: collapse;
}

th, td {
	padding: 0;
	vertical-align: top;
}

th { text-align: left; }

details {
	padding: 0 1ex;
	background: var(--bg2);
	border: 1px dotted var(--grayed);
}

details[open] summary {
	background: var(--bg);
	margin: 0 -1ex;
	padding: 0 1ex;
}

mark {
	color: var(--copy);
	background: var(--highlight);
}

ins {
	text-decoration: none;
	background: var(--insert);
}

sub, sup {
	line-height: 0;
}

time {
	font-variant-numeric: tabular-nums;
	font-size: .8em;
}

.fitted-figure {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: calc(var(--line-height) / 2) 2ch;
}

.fitted-figure :not(figcaption) {
	flex-shrink: none;
}

.fitted-figure figcaption {
	flex-shrink: 4;
	flex-grow: 1;
	flex-basis: 15ch;
}

figcaption {
	font-style: italic;
	color: var(--grayed);
}

button, input[type="submit"] {
	background: var(--bg2);
	border: 1px solid var(--primary);
	color: currentColor;
	font: inherit;
	height: var(--line-height);
	margin: 0;
	padding: 0 .5ch;
}

button:active:active, input[type="submit"]:active:active {
	border-color:var(--primary);
	background: var(--primary);
	color: ghostwhite;
}

button:hover, input[type="submit"]:hover,
button:focus, input[type="submit"]:focus {
	border-color: var(--copy);
}

@media print {
	body {
		max-width: unset;
		padding: 0;
		margin: 0;
	}

	@page {
		margin: 3em;
	}

	img, pre, figure, table {
		page-break-inside: avoid;
	}

}

:target {
	background: var(--highlight);
}
