
body {
	overflow-y: scroll;
}

.prose       > * + *,
blockquote   > * + *,
figcaption   > * + * {
  margin-top: var(--flow-space, var(--line-height));
}

a {
	color: currentColor;
	text-decoration: none;
}

.prose a {
	color: var(--primary);
}

a:hover {
	color: var(--primary);
	text-decoration: underline;
}

a:not([href^="#fn"])::after {
	color: var(--primary);
	content: '\2794';
}

blockquote {
	padding: 0 0 .2em 1em;
	border-left: 1px solid var(--secondary);
	border-radius: 1em;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 2em;
	line-height: 3ex;
}

h2 {
	font-size: 1.5em;
	line-height: 2ex;
	--line-height: 2ex;
}

hr {
	border: .5px solid var(--grayed);
}

img {
	display: block;
	max-width: 100%;
	max-height: 80vh;
	width: auto;
	height: auto;
	object-fit: contain;
	object-position: top left;
	border: 1px solid var(--copy);
}

table {
	display: block;
	overflow-x: auto;
}

th { text-align: left; }

details[open] {
	
}

mark {
	color: var(--copy);
	background: var(--highlight);
}

ins {
	text-decoration: none;
	background: var(--insert);
}

sub, sup {
	line-height: 0;
}

time {
	font-variant-numeric: tabular-nums;
	font-size: .8em;
}

.fitted-figure {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: calc(var(--line-height) / 2) 2ch;
}

.fitted-figure :not(figcaption) {
	flex-shrink: none;
}

.fitted-figure figcaption {
	flex-shrink: 4;
	flex-grow: 1;
	flex-basis: 15ch;
}

figcaption {
	font-style: italic;
	color: var(--grayed);
}

button, input[type="submit"] {
	background: none;
	border: 1px solid var(--primary);
	color: currentColor;
	font: inherit;
	height: var(--line-height);
	margin: 0;
	padding: 0 .5ch;
}

button:active:active, input[type="submit"]:active:active {
	border-color:var(--primary);
	background: var(--primary);
	color: ghostwhite;
}

button:hover, input[type="submit"]:hover,
button:focus, input[type="submit"]:focus {
	border-color: var(--copy);
}

@media print {
	body {
		max-width: unset;
		padding: 0;
		margin: 0;
	}

	@page {
		margin: 3em;
	}

	img, pre, figure, table {
		page-break-inside: avoid;
	}

}

:target {
	background: var(--highlight);
}
