
.entry-list a {
	text-decoration: none;
}

.entry-list .p-summary {
	font-style: italic;
}

.entry-list h3 {
	margin: var(--line-height) 0;
}

.entry-list .h-entry time.dt-published {
	display: inline-block;
	font-size: .8em;
	font-weight: 600;
}



.entry-page-header h1 {
	margin-bottom: var(--line-height);
}

.entry-page-header p {
	color: var(--color-muted-foreground);
	font-size: var(--dim-font-smaller);
	margin: 0;
	font-weight: italic;
}

