
@font-face {
	font-family: 'Cantarell';
	src: local('Cantarell') url('/assets/fonts/Cantarell-Regular.ttf');
}

@font-face {
	font-family: 'Cantarell';
	font-weight: 700;
	src: local('Cantarell') url('/assets/fonts/Cantarell-Bold.ttf');
}

@font-face {
	font-family: 'Cantarell';
	font-style: italic;
	src: local('Cantarell') url('/assets/fonts/Cantarell-Italic.ttf');
}

@font-face {
	font-family: 'Cantarell';
	font-weight: 700;
	font-style: italic;
	src: local('Cantarell') url('/assets/fonts/Cantarell-BoldItalic.ttf');
}
