
@font-face {
    font-family: 'Fira Sans';
    src: url(/assets/fonts/FiraSans-Regular.ttf);
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    src: url(/assets/fonts/FiraSans-Italic.ttf);
}

@font-face {
    font-family: 'Fira Sans';
    font-weight: 700;
    src: url(/assets/fonts/FiraSans-Bold.ttf);
}

@font-face {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-style: italic;
    src: url(/assets/fonts/FiraSans-BoldItalic.ttf);
}

/* Set custom properties for each layout feature */
:root {
    --aalt: off;
    --case: off;
    --liga: off;
    --dnom: off;
    --frac: off;
    --numr: off;
    --onum: off;
    --ordn: off;
    --salt: off;
    --sinf: off;
    --smcp: off;
    --ss01: off;
    --ss02: off;
    --ss03: off;
    --ss04: off;
    --ss05: off;
    --subs: off;
    --sups: off;
    --zero: off;
}

* {
    font-feature-settings: 
        aalt var(--aalt),
        case var(--case),
        liga var(--liga), 
        dnom var(--dnom), 
        frac var(--frac),
        numr var(--numr), 
        onum var(--onum), 
        ordn var(--ordn),
        salt var(--salt), 
        sinf var(--sinf), 
        smcp var(--smcp),
        ss01 var(--ss01), 
        ss02 var(--ss02), 
        ss03 var(--ss03),
        ss04 var(--ss04),
        ss05 var(--ss05),
        subs var(--subs), 
        sups var(--sups),
        zero var(--zero);
}

:lang(tr) {
    --ss01: on;
}
