
html {
	--bg: ghostwhite;
	--copy: #000;
	--grayed: #666;
	--primary: #E13200;
	--secondary: #006AFF;
	--highlight: #ff0;
	--insert: #6f9;
	--font-copy: 'Inria Sans', 'Bahnschrift', sans-serif;
	--font-monospace: 'Consolas', 'Menlo', 'Ubuntu Mono', monospace;
	--line-height: 3ex;
	background-color: var(--bg);
	color: var(--copy);
	font-family: var(--font-copy);
	line-height: var(--line-height);
	scrollbar-color: var(--primary) var(--bg);
}

@media (prefers-color-scheme: dark) {
	html {
		--bg: #000;
		--copy: ghostwhite;
		--grayed: #999;
		--highlight: #440;
		--insert: #007125;
	}

	[data-img-color-scheme=light] {
		filter: invert(100%) hue-rotate(180deg);
	}
}

@media (prefers-color-scheme: light) {
	[data-img-color-scheme=dark] {
		filter: invert(100%) hue-rotate(180deg);
	}
}

body {
	--page-padding: 1ch;
	padding: 0 var(--page-padding);
	max-width: calc(80ch + 2 * var(--page-padding));
	margin: auto;
}


.entry-list > * {
	margin-top: calc(2 * var(--line-height));
	border-top: 1px solid var(--primary);
}

.entry-detail {
	max-width: none;
	color: var(--primary);
}

.entry-header {
	margin-bottom: var(--line-height);
}

.h-entry > .p-name {
	font-weight: bold;
}

.me .p-name {
    font-variant: all-small-caps;
    letter-spacing: .2ex;
}

body > footer {
	margin-top: var(--line-height);
}

.links {
	border-block: 1px solid var(--secondary);
	margin: var(--line-height) 0;
}

.unblockquote {
	border: none;
	padding: 0;
}

.noital {
	font-style: normal !important;
}

.nolink:after {
	content: none !important;
}

