
:root {
	--dim-line-length: 70ch;
	--dim-font-smaller: .9em;
	--dim-body-padding: max(1rem, 10vw);

	--font-sans: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	--font-mono: Consolas, Menlo, Source Code Pro, monospace, monospace;
	--font-main: var(--font-sans);
	
	--color-background: ghostwhite;
	--color-block-background: #e6e6ff;
	--color-block-background-hover: #c8c8e1;
	--color-foreground: black;
	--color-muted-foreground: #c4c4cf;

	font-size: 1rem; /* This needs to go in :root, not body, to make rems work */
	scrollbar-color: var(--color-foreground) var(--color-block-background-hover);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-background: black;
		--color-block-background: #30303f;
		--color-block-background-hover: #727279;
		--color-foreground: white;
		--color-muted-foreground: #88888f;
	}
}

body {
	padding: 0 var(--dim-body-padding);
	margin: 0;

	font-family: var(--font-main);
	line-height: 1.5;
	tab-size: 4ch;

	background: var(--color-background);
	color: var(--color-foreground);
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus {
	outline: 2px dashed;
}

:focus:not(:focus-visible) {
	outline: none;
}

a {
	color: currentColor;
}

a:hover {
	background: var(--color-block-background-hover);
}

sup {
	vertical-align: top;
	font-size: .8em;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	margin-bottom: 0;
	font-size: 1.6em;
}

h2 {
	margin-top: 1.6em;
	font-size: 1.3em;
}

h3 {
	font-size: 1em;
}

p {
	max-width: var(--dim-line-length);
}

ul, ol, dd {
	padding-inline: 0;
}

blockquote, figure, ul, ol, dd {
	margin-inline: clamp(1em, 3vw, 2em) 0;
}

	figure blockquote {
		margin-inline: 0;
	}

blockquote {
	padding-inline-start: 1ch;
	box-sizing: content-box;
	border-left: 2px solid var(--color-muted-foreground);
	background: var(--color-block-background);
}

aside {
	padding: 0 1em;
	max-width: var(--dim-line-length);

	font-size: var(--dim-font-smaller);
	font-style: italic;
	
	background: var(--color-block-background);
}

ul[role=list] {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

figcaption {
	font-size: var(--dim-font-smaller);
	font-style: italic;
}

	figcaption a {
		background: none;
	}

pre {
	overflow-x: auto;
	scrollbar-width: thin;
	-moz-tab-size: 4ch;
	-o-tab-size: 4ch;
	tab-size: 4ch;
	margin-inline-end: calc(-1 * var(--dim-body-padding));
}

img {
	display: block;
	max-width: min(var(--dim-line-length), 100%);
	height: auto;
}

hr {
	border: 1px solid var(--color-muted-foreground);
}

.footnote-backref {
    width: 0;
    display: inline-block;
}

/* Semantics */

article {
	margin-block: 1em;
}
	article footer {
		border-top: 1px solid var(--color-foreground);
	}

header {
	border-bottom: 1px solid var(--color-foreground);
}

body > footer {
	font-size: .8em;
}
