
.-indent {
	padding-left: 1.2em;
}

.-unlink {
	background: none;
	border: none;
}

.-big-margin {
	margin-block: 3em;
}

.-h-scroll {
	overflow-x: auto;
	max-width: 100%;
}

.-full-bleed {
	width: calc(100% + (2 * var(--dim-body-padding)));
	max-width: none;
	margin-left: calc(-1 * var(--dim-body-padding));
}

.-full-bleed-scroll {
	overflow-x: auto;
	padding-inline: var(--dim-body-padding);
	width: calc(100% + (2 * var(--dim-body-padding)));
	max-width: none;
	margin-left: calc(-1 * var(--dim-body-padding));
}

.-truncate {
	max-width: 100%;
	
	white-space: nowrap;
	overflow: hidden;
	
	text-overflow: ellipsis;
}

.-flow-space > * + * {
	margin-top: var(--dim-flow-space, 1em);
}

.-inline-list {
	display: flex;
	flex-flow: row wrap;
	gap: 0 var(--inline-list-gap, 2ch);
}

.-lowercase {
	text-transform: lowercase;
}

